---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Post from "../components/Post.astro";

const posts = await getCollection("blog");
---

<Layout>
  <main id="main-content">
    <h1 class="text-2xl">Hello, World!</h1>
    <ul>
      {
        posts.map((post) => (
          <li style={`viewTransitionName: ${post.slug}`} class="my-6">
            <Post post={post} />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
