---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();
---

<footer class="mx-auto w-full max-w-4xl px-4">
  <Hr noPadding />
  <div class="flex flex-row-reverse justify-between items-center m-4">
    <Socials centered />
    <div class="copyright-wrapper">
      <span>Copyright &#169; 2012 - {currentYear}, Christian Köberl</span>
      <span class="separator">&nbsp;|&nbsp;</span>
      <span>All rights reserved.</span>
    </div>
  </div>
</footer>
